$cc-primary: #00343C;
$cc-secondary: #FFBF00;
$cc-white: #FFFFFF;
$cc-black: #111111;

div, p, h1, figure, span, h2, h3, h4, h5, h6, img, section, body, html{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    color: $cc-black;
}


